# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/
*.egg-info/

# Environment files
.env

# SSH keys, local credentials & local model data
ollama_data/

# Local outputs, scrap files & logs
*.log
*.csv
*.json
*.html
!pyproject.toml
